<br><br>
<div class="container">


<h2>Viewing All Birthdays</h2>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Sr No</th>
    <th scope="col">Name</th>
    <th scope="col">Relation</th>
    <th scope="col">Birthday</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let b of birthdays; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
  
      {{ b.name }}
    </td>
    <td>{{ b.relation }}</td>
    <td>{{ b.date }}</td>
    <td><span (click)="onSelect(b)" class="badge badge-primary">Edit</span></td>
  </tr>
  </tbody>
</table>




</div>


<router-outlet></router-outlet>
