<a href="#" class="badge badge-info" routerLink="/todaybirthdays" routerLinkActive="active">View Today Birthdays</a>
&nbsp;
<a href="#" class="badge badge-info" routerLink="/viewbirthdays" routerLinkActive="active">View All Birthdays</a>
&nbsp;
<a href="#" class="badge badge-info" routerLink="/viewbymonth" routerLinkActive="active">View by Month</a>
&nbsp;
<a href="#" class="badge badge-info" routerLink="/viewbyname" routerLinkActive="active">View by Name</a>
&nbsp;
<a href="#" class="badge badge-info" routerLink="/viewbyrelation" routerLinkActive="active">View by Relation</a>
&nbsp;
<a href="#" class="badge badge-success" routerLink="/addbirthday" routerLinkActive="active">Add a Birthday</a>
&nbsp;

