

<br>
<div class="container">
<br>
<h1>Your Profile</h1>

 <div *ngIf="user.phoneNumber" class="form-group">
 <label>Mobile Number</label>
    <input disabled type="text" class="form-control" [(ngModel)]="user.phoneNumber">
  </div>

  <div *ngIf="user.email" class="form-group">
    <label>Email Address</label>
    <input disabled type="email" class="form-control" [(ngModel)]="user.email">
  </div>

  <div *ngIf="user.metadata.creationTime" class="form-group">
    <label>Account Created</label>
    <input disabled type="text" class="form-control" [(ngModel)]="user.metadata.creationTime">
  </div>
                                                                                                                                                                                                                                                                                                                                                                                                                   
</div>
<router-outlet></router-outlet>


