<br><br>
<div class="container">
<notfound *ngIf="!loading && !birthdays"></notfound>
<h2>View by Name</h2>
<options></options>
<br>
<br>

 <div class="form-group">
    <input placeholder="Filter out birthdays using name" [disabled]="loading" required  (keyup)="getBirthdays()" type="text" class="form-control" [(ngModel)]="name">
  </div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Sr No</th>
    <th scope="col">Name</th>
    <th scope="col">Relation</th>
    <th scope="col">Birthday</th>
    <th scope="col">Age</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody *ngIf="birthdays && !loading">
  <tr  [ngClass]="{'table-success' : b.birthdaytoday}"   *ngFor="let b of birthdaysbyname; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
  
      {{ b.name | titlecase}}
    </td>
    <td>{{ b.relation }}</td>
    <td>{{ b.date }}</td>
     <td>{{ b.age }}</td>
    <td><span (click)="onSelect(b)" class="badge badge-primary">Edit</span>&nbsp;<span (click)="onDelete(b)" class="badge badge-danger">Delete</span></td>
  </tr>
  </tbody>
  <loader *ngIf="loading"></loader>
</table>







</div> 


<router-outlet></router-outlet>
