<br><br>
<div class="container">


<h2>Birthdays Today&nbsp;&nbsp;( {{date}} )</h2>
 <options></options>
<br>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Sr No</th>
    <th scope="col">Name</th>
    <th scope="col">Relation</th>
    <th scope="col">Turnt</th>
    		  
</tr>
  </thead>
  <tbody>
  <tr class="table-success" *ngFor="let b of birthdays; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
  
      {{ b.name |titlecase }}
    </td>
    <td>{{ b.relation }}</td>
    <td>{{ b.age }}</td>

    
  </tr>
  </tbody>
</table>




</div>


<router-outlet></router-outlet>
